body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

main {
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 1000px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hidden {
    display: none !important;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

button:hover {
    background-color: #0056b3;
}

#word-display-area {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#word-display, #final-score {
    font-size: 30em;
    color: #333;
}

header, footer {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}